{% extends "core/base.html" %}

{% block title %} Topic {% endblock %} 

{% block content %}
	<h1>{{ topic.name }}</h1>
	<hr>
	<div id="comments">
		{% for com in comments %}
			<h4>{{ com.comment }}</h4>
			<br><br>
		{% endfor %}
    </div>
	<div class="add-comment">
		<form id="comment-form" action="/topic/comment/" method="POST">
			<input id="new-comment" type="text" name="comment" placeholder="Write a comment..">
			<input name="topic-id" hidden readOnly>
			<button id="send_comment">Send</button>
		</form>
	</div>
	<span id="topic-id" hidden readOnly>{{ topic.id }}</span>
{% endblock %}

{% block js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/
1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.12.2.min.js"></script>
    <script>
    	$(document).ready(function(){
    		$("input[name='topic-id']").val($("#topic-id").text());
    	});

		$("#comment-form").submit(function(event) {
			$.post("/topic/comment/", $(this).serialize());
            $("#new-comment").val("");
			event.preventDefault(); 
		});

        function listen_for_events(timestamp) {
            $.ajax("/topic/pull/" + timestamp, {
            	data: { 
            		"topic_id": $("#topic-id").text() 
            	},
                success: function(data, code, xhr) {
                    for (var i = 0; i < data.comments.length; i++) {
                        var msg = data.comments[i].comment;
                        $("#comments").append("<h4>" + msg + "</h4><br>");
                    }
                    listen_for_events(data.timestamp);
                }
            });
        }
        $(document).ready(function() {
            listen_for_events(//{
                //{
                    // timestamp
                    Date.now()
                //}
            //}
            );
        });
    </script>	
{% endblock %}